<%= form_with(model: [recipe, step], local: true) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :step_description %>
  </div>

  <div class="actions">
    <%= form.submit("Add Step") %>
  </div>
<% end %>
